/* navbar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav h3 {
    margin-top: 50px;
    margin-left: 150px;
    font-size: 28px;
    font-weight: bolder;
}

nav button {
    margin-top: 40px;
    margin-right: 174px;
}


.btn {
    text-align: center;
    padding: 17px 24px;
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    border-radius: 5px;
    color: #0D1321
}

.btn_s2 {
    text-align: center;
    padding: auto;
    width: 171px;
    height: 47px;
    font-size: 18px;
    font-weight: 500;
    background-color: white;
    /* border-radius: 5px; */
    color: #0D1321
}



.azeret-mono-font {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

/* banner */
.banner_bg_img {
    width: auto;
    padding-top: 26px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}


.banner {
    background-image: url('../assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-position: backdrop;
    background-size: cover;
    margin-top: 48px;
    /* width: 1440px;
    height: 652px; */
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    margin-bottom: 48px;
}

.banner-content {
    /* padding: 298px, 221px, 45px,221px;
    width: 50%; */
    text-align: center;
    padding-top: 35px;
    padding-right: 380px;
    padding-bottom: 45px;
    padding-left: 380px;

}

/* .banner_title {
    text-align: center;
    width: 50%;
}


.banner-des {
    text-align: center;
    width: 50%;
} */

.btn_second {
    height: 30px;
    width: 244px;
    text-align: center;
    padding: 10px 24px;
    font-size: 20px;
    font-weight: 600;
    background-color: #0D1321;
    border-radius: 5px;
    color: #ffffff
}

/* motivation part */
#motive {
    margin-bottom: 90px;
    margin-left: 148px;
    margin-right: 152px;
}

.main {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding: 97px 80px;
    flex-direction: column;
    background-color: rgba(13, 19, 33, 0.02);
    border: none;
}

.section_header {
    padding-left: 47px;
    padding-right: 47px;
    padding-bottom: 80px;
    text-align: center;

}

.motive_title {
    font-size: 32px;
    font-weight: 900;
    /* text-align: center; */
}

.first {
    display: flex;
    padding-left: 48px;
    padding-top: 48px;
    padding-top: 48px;
    padding-right: 48px;
    background-color: #ffffff;
    margin-bottom: 32px;
    border: none;
    border-radius: 5%;
}

.firstdiv {
    padding-top: 10.5px;
    padding-top: 10.5px;
    padding-right: 340px;
    /* text-wrap: pretty */
}

.secondDiv {
    padding-top: 10.5px;
    padding-top: 10.5px;
    padding-left: 150px;
    padding-right: 101px;
}

/* inspiration */
#inspiration {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-left: 148px;
    margin-right: 152px;
    text-wrap: stable;
    margin-bottom: 160px;
    /* border-color: #0D1321;
    border: #0D1321; */
}

.ins_title h2 {
    text-align: center;
    margin-bottom: 24px;
    font-size: 32;
    font-weight: 900;

}

.ins_title p {
    text-align: center;
    margin-bottom: 46px;
    padding-left: 143px;
    padding-right: 145px;
    text-wrap: pretty;
}

.iframe {
    padding-left: 32px 32px;

    /* border-color: whitesmoke; */
    /* border-color: rgba(13, 19, 33, 0.2); */
    /* border-radius: 5%; */

}

.iframeBorder {
    /* padding: 32px 32px; */
    border-color: rgba(13, 19, 33, 0.2);
    border-radius: 15px;
    overflow: hidden;
}

.ins_title p {
    text-align: center;
    margin-bottom: 46px;
    padding-left: 140px;
    padding-right: 145px;
    text-wrap: pretty;
}

#card-box {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-left: 148px;
    margin-right: 152px;
    text-wrap: stable;
    row-gap: 48px;
}

.ins_card {
    padding-left: 97px;
    padding-right: 97px;
    gap: 48px;
    text-align: center;
}

.cardTitle {
    gap: 24px;
    font-size: 32;
    font-weight: 900;
}

.card {
    display: flex;
    /* align-items: center; */
    /* justify-content: space-around; */
    column-gap: 24px;
    margin-bottom: 111px;

}

.card1 {
    padding: 40px 40px;
    align-items: center;
    justify-content: center;
    height: 299px;
    width: 364px;
    border: none;
    row-gap: 8px;
    border-radius: 5%;
}

/* support */
.input {
    display: flex;
    justify-content: center;
    column-gap: 16px;
    padding-top: 48px;
    z-index: 1;
}

.supportHeader {
    z-index: 1;
}

#support {
    padding-top: 70px;
    padding-right: 20px;
    padding-left: 20px;
    justify-content: center;
    row-gap: 6px;
    background-image: url("../assets/handshake.jpg");
    background-color: rgba(0, 0, 0, 0.2);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-size: cover;
    margin-top: 48px;
    margin-left: 148px;
    margin-right: 152px;
    width: 1140px;
    height: 313px;
    border-radius: 15px;
    stroke: rgba(0, 0, 0, 1);

}

/* footer */
.footer {
    margin-top: 100px;
    background-color: rgba(13, 19, 33, 0.03);
    background-position: 100%;
    background-size: contain;
    background-size: cover;
}

.footerTitle {
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 90px 32px;
    height: 23px;
    width: 456px;


}